/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

ul {
  list-style-type: none;
}

.no-wrap * {
  display: inline;
  white-space: nowrap;
}

.navbar .navbar-nav li {
  border-left: white 1px solid;
}

.navbar-nav a {
  font-size: 1.3em;
}

input[type=submit] {
  border-radius: 0.5em;
}

.navbar ul, .categories-list ul {
  display: flex;
  flex-wrap: wrap;
}

.categories-list li{
  background-color: rgb(230, 230, 230);
  border: black 1px solid;
  border-radius: 0.2em;
  min-height: 60px;
  overflow: auto;
  padding: 0.5em;
}

.categories-list a {
  font-size: 1.2em;
}

.item-show {
  color: rgb(75, 75, 75);
}

.item-show-price {
  margin-left: 50px;
}

.subtotal, .total {
  float: right;
}

.checkout-btn:hover {
  border: 2px black solid;
}

.checkout-btn {
  font-size: 1.5em;
  background-color: rgb(211, 211, 211);
  padding: 0.35em;
  width: 200px;
}



